body{
    margin: 0 auto;
    background: hsl(0, 0%, 10%);    
    display: flex;
    flex-direction: column;
    height: auto;    
}

header{
    display: flex;
    flex-direction: column;
}
.cabecalho1{
    background: black;
    width: auto;
    height: 140px;
    display: flex;  
}
.navegacao{
    align-items: center;
    margin: 5px;
    margin-right: 60px;
    display: flex;
    list-style: none;
    justify-content: space-between;    
}
.navegacao img{    
    height: 120px;
}
.menu{    
    color: white;    
    text-decoration: none;
    font-size: 25px;    
}