body{
    margin: 0;
    padding: 0;
    background-color: hsl(0, 0%, 10%);  
    display: flex;
    flex-direction: column;
}
header{
    display: flex;
    flex-direction: column;
}
.cabecalho1{
    background: black;
    width: auto;
    height: 140px;
    display: flex;  
}
.navegacao{
    align-items: center;
    margin: 5px;
    margin-right: 60px;
    display: flex;
    list-style: none;
    justify-content: space-between;    
}
.navegacao img{    
    height: 120px;
}
.menu{    
    color: white;    
    text-decoration: none;
    font-size: 25px;    
}

main{
    background-image: img src="fundo_disciplinas.png";
    margin: 0;
    padding: 0;
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;    
    display: flex;
    flex-direction: column;
    height: 960px;
}
.conteudoFigura1{
    display: flex;
}
main h1{
    color: #FFBD14;
    line-height: 80px;
    font-size: 80px;
    margin-left: 100px;
}
main h2{
    color: white;
    margin-left: 100px;
    font-size: 35px;
    margin-top: -50px;
}

.logo{
    margin-top: 50px;
    display: flex;
    margin-left: auto;
    margin-right: 100px;
    }

main button{
    background-color: #FFBD14;
    font-size: 20px;
    font-weight: bold;
    width: 300px;
    height: 45px;
    border-radius: 20px;
    text-align: center;
    margin-left: 140px;
}

.caixa {
      width: 200px;
      height: 100px;
      margin: 10px;
      padding: 10px;
      border: 1px solid #ccc;
      background-color:black;
      box-sizing: border-box;
      overflow: hidden;
      word-wrap: break-word;
      margin: 10px;
      justify-content: space-around;
    }

    .caixa1 {
        background-color: black;
      }
    .caixa2 {
        background-color: black;
      }
    .caixa3 {
        background-color: black;
      }
    .caixa4 {
        background-color: black;
      }
    .caixa5 {
        background-color: black;
      }
    .caixa6 {
        background-color: black;
      }
      .caixa7 {
        background-color: black;
      }
    .caixa8 {
        background-color: black;
      }
    .caixa9 {
        background-color: black;
      }
    .caixa10 {
        background-color: black;
      }
    .caixa11 {
        background-color: black;
      }

footer{
    background-color: black;
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 30px;
    
}
.footer{
    display: flex;
}
.logoTitle{
    font-size: 20px;
    color: white;
    padding-top: 10px;
    margin-left: -15px;       
}
#brasao{
    padding-top: 10px;
    height: 80px;
    margin-left: 20px;
}
#imgministerio{
    height: 90px;
    filter: invert(1); /*inverte as cores da logo do Ministério. A imagem original tem fundo branco*/ 
}
.redesSociais{
    justify-content: end;
    display: flex;
    margin-right: 20px;
}
.redesSociais h1{
    color: white;
    font-size: 20px;
}
.redesSociais img{
    height: 50px;
}
