body{
    margin: 0;
    padding: 0;
    background-color: hsl(0, 0%, 10%);  
    display: flex;
    flex-direction: column;
}

.section1{
    background-color: hsl(0, 0%, 5%);
    color: white;
    padding: 20px;
    margin-right: 0px;
    border-radius: 15px;
    height: 385px;
    width: 365px;
}
.section1 h1{
    font-size: 30px;
}
.section1 p{
    font-size: 13px;
    text-indent: 50px;
}
.imgsobre1{
    margin-left: 20px;
    width: 158px;
    height: 175px;
    align-self: center;
}
.section2{
    background-color: hsl(0, 0%, 5%);
    color: white;
    padding: 20px;
    margin-right: 0px;
    border-radius: 15px;
    height: 385px;
    width: 365px;
}
.section2 h1{
    font-size: 30px;
}
.section2 p{
    font-size: 15px;
    text-indent: 50px;
}
.imgsobre2{
    margin-left: 20px;
    width: 158px;
    height: 175px;
    align-self: center;
}
.section3{
    background-color: hsl(0, 0%, 5%);
    color: white;
    padding: 20px;
    margin-right: 0px;
    border-radius: 15px;
    height: 385px;
    width: 365px;
}
.section3 h1{
    font-size: 30px;
}
.section3 p{
    font-size: 15px;
    text-indent: 50px;
}
.imgsobre3{
    margin-left: 20px;
    width: 158px;
    height: 175px;
    align-self: center;
}
.section4{
    background-color: hsl(0, 0%, 5%);
    color: white;
    padding: 20px;
    margin-right: 0px;
    border-radius: 15px;
    height: 385px;
    width: 365px;
}
.section4 h1{
    font-size: 30px;
}
.section4 p{
    font-size: 15px;
    text-indent: 50px;
}
.imgsobre4{
    margin-left: 20px;
    width: 158px;
    height: 175px;
    align-self: center;
}
.lado-a-lado{
    display: grid;
    grid-template-columns: 1fr 1 fr;
    gap: 10px;
    grid-template-areas: 
    "section1 section2"
    "section3 section4";
}
.lado1{
    display: flex;
    align-items: center;
}
.lado2{
    display: flex;
    align-items: center;
}
.lado3{
    display: flex;
    align-items: center;
}
.lado4{
    display: flex;
    align-items: center;
}