body{
    margin: 0 auto;
    background: hsl(0, 0%, 10%);    
    height: auto; 
}

header{
    background-color: #000000;
    height: 7.5rem;
    width: 100%;
    display: flex;
    align-items: center;
}

header img{
    margin-left: 20px;
    height: 6.25rem;
}

nav{
    width: 100%;
}

nav ul{
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav a{
    text-decoration: none;
    color: white;
    font-size: 20px;  
}

nav a:hover{
    color: white;
    text-decoration: none;
    font-size: 30px;   
}

.dropdown-menu{
    background: hsl(0, 0%, 10%);
    color: white;
}
.dropdown-item{
    color: white;
}

.conteiner{
    display: grid;
    row-gap: 2%;
    grid-template-columns: auto;
    grid-template-rows: 140px 120px auto 100px;
    grid-template-areas: 
    "cabecalho"
    "contagem"
    "corpo"
    "rodape";
}
.contagem{
    grid-area: contagem;
    background-color: hsl(0, 0%, 5%);
    width: auto;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.contagem h1{
    font-size: 30px;
    color: white;
    margin-left: 30px;
}
.casaBrasao{
    height: 100px;
    margin-top: 5px;
    margin-bottom: 5px;    
}
.copaContagem{
    color: hsl(0, 0%, 10%);
    font-size: 30px;    
    margin-right: 120px;
}
.copaContagem:hover{
    color: white;
    font-size: 35px;
}
.conteudo{
    grid-area: corpo;
    display: grid;
    margin: 0px 80px 0px 80px;
    column-gap: 5%;
    row-gap: 3%;
    grid-template-columns: 640px auto;
    grid-template-rows: 430px auto;
    grid-template-areas: 
    "image copaMundial"
    "quadribol quadribol";    
}
img{
    grid-area: image;
    border-radius: 15px;
}
.copaMundial{
    grid-area: copaMundial;
    background-color: hsl(0, 0%, 5%);
    color: white;
    border-radius: 15px;
}
.copaMundial h1{
    margin: 25px;    
    font-size: 30px;
}
.copaMundial p{
    margin: 25px;    
    font-size: 13px;
    text-indent: 50px;
}
.quadribol{
    grid-area: quadribol;
    background-color: hsl(0, 0%, 5%);
    color: white;
    border-radius: 15px;
    height: 95%;
}
.quadribol h1{
    font-size: 30px;
    margin: 25px;
}
.quadribol p{
    font-size: 19px;
    text-indent: 50px;
    margin: 25px;
}
footer{
    grid-area: rodape;
    background-color: black;
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;    
}
.logo{
    display: flex;
}
.logoTitle{
    font-size: 20px;
    color: white;
    padding-top: 10px;
    margin-left: -15px;       
}
#brasao{
    padding-top: 10px;
    height: 80px;
    margin-left: 20px;
}
#imgministerio{
    height: 90px;
    filter: invert(1); /*inverte as cores da logo do Ministério. A imagem original tem fundo branco*/ 
}
.redesSociais{
    justify-content: end;
    display: flex;
    margin-right: 20px;
}
.redesSociais h1{
    color: white;
    font-size: 20px;
}
.redesSociais img{
    height: 50px;
}