body{
    margin: 0 auto;
    background: hsl(0, 0%, 10%);    
    height: auto; 
}

.conteiner{
    display: grid;
    row-gap: 2%;
    grid-template-columns: auto;
    grid-template-rows: 140px 120px auto 100px;
    grid-template-areas: 
    "cabecalho"
    "contagem"
    "corpo"
    "rodape";
}
.contagem{
    grid-area: contagem;
    background-color: hsl(0, 0%, 5%);
    width: auto;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.contagem h1{
    font-size: 30px;
    color: white;
    margin-left: 30px;
}
.casaBrasao{
    height: 100px;
    margin-top: 5px;
    margin-bottom: 5px;    
}
.copaContagem{
    color: hsl(0, 0%, 30%);
    margin-right: 120px;
    font-size: 30px;
}
.copaContagem:hover{
    color: white;
    font-size: 30px;
}
.conteudo{
    grid-area: corpo;
    display: grid;
    margin: 0px 80px 0px 80px;
    column-gap: 5%;
    row-gap: 3%;
    grid-template-columns: 640px auto;
    grid-template-rows: 430px auto;
    grid-template-areas: 
    "image copaMundial"
    "quadribol quadribol";    
}
img{
    grid-area: image;
    border-radius: 15px;
}
.copaMundial{
    grid-area: copaMundial;
    background-color: hsl(0, 0%, 5%);
    color: white;
    border-radius: 15px;
}
.copaMundial h1{
    margin: 25px;    
    font-size: 30px;
}
.copaMundial p{
    margin: 25px;    
    font-size: 20px;
    text-indent: 50px;
}
.quadribol{
    grid-area: quadribol;
    background-color: hsl(0, 0%, 5%);
    color: white;
    border-radius: 15px;
}
.quadribol h1{
    font-size: 30px;
    margin: 25px;
}
.quadribol p{
    font-size: 20px;
    text-indent: 50px;
    margin: 25px;
}
