* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #5b5a5a;
  width: 100%;
  height: 100%;
}

a:hover {
  color: #e6af2e;
}

nav {
  margin-top: -60px;
  margin-left: 400px;
}

nav ul {
  list-style: none;
  width: 100%;
  text-align: center;
  display: inline-flex;
}

nav li {
  margin: 10px 20px;
}

nav a {
  text-decoration: none;
  color: white;
  font-size: 20px;
}

.grid-container {
  display: grid;
  grid-template-areas:
    "header header header"
    "imagem texto texto"
    "imagem lista-alunos lista-alunos"
    "rodape rodape rodape";
  grid-template-rows: 100px 40vh 30vh 10vh;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;
}

.header {
  grid-area: header;
  background-color: #000000;
  padding: 10px;
}

.header img {
  height: 80px;
}

.imagem {
  grid-area: imagem;
  background-image: url("../imagens/alunos_hogwarts.png");
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 20px;
  margin: 20px 10px;
  background-color: #ccc;
  padding: 20px;
}

.texto {
  grid-area: texto;
  background-color: #060606;
  padding: 20px;
  border-radius: 10px;

  margin: 20px 10px;
}

.texto p {
  font-size: 17px;
  text-wrap: wrap;
  line-height: 3cap;
  color: #ffffff;
  text-align: justify;
}

#subtitulo {
  font-size: 30px;
  text-align: center;
  font-weight: bold;
  color: #ffffff;
}

.lista-alunos {
  grid-area: lista-alunos;
  background-color: #050505;
  padding: 20px;
  border-radius: 10px;
  margin-left: 10px;
  width: 62vw;
}
.lista-alunos h3 {
  font-size: 20px;
  text-align: center;
  font-weight: bold;
  color: #ffffff;
}

.lista-alunos ul {
  list-style: none;
  font-size: 15px;
  text-align: center;
}

.lista-alunos li {
  margin: 10px 6px;
  border: 1px solid #fbfafa;
  border-radius: 10px;
  width: 300px;
}

.lista-alunos a {
  text-decoration: none;
  color: #fffefe;
  margin-left: 20px;
}

.lista-alunos a:hover {
  color: #e6af2e;
}

.rodape {
  grid-area: rodape;
  background-color: #000000;
  padding: 40px;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logoTitle {
  font-size: 15px;
  color: white;
  margin-left: -300px;
}
#brasao {
  padding-top: 10px;
  height: 70px;
  margin-left: 20px;
}
#imgministerio {
  height: 70px;
  filter: invert(
    1
  ); /*inverte as cores da logo do Ministério. A imagem original tem fundo branco*/
}
.redesSociais {
  justify-content: flex-end;
  display: flex;
  margin-right: 50px;
}
.redesSociais h4 {
  color: white;
  font-size: 20px;
}
.redesSociais img {
  height: 50px;
}
