body{
    margin: 0 auto;
    background: hsl(0, 0%, 10%);    
    height: auto; 
}

main {
    display: grid;
    height: 45.063rem;
    grid-template-columns: 32% 68%;
    grid-template-rows: 100%;
}



.bandeira_alunos{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 50%;
    
}

.bandeira_img{
    background-image: url("../imagens/sonserina_intro.png");
    background-position: center;
    background-size: cover;
}

.alunos_img{
    background-image: url("../imagens/alunos_sonserina.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.principal{
    display: grid;
    height: 45.063rem;
    grid-template-columns: 100%;
    grid-template-rows: 40%;
}

.info_casa{
    height: 100%;
    background-color: #252222;
    display: grid;
    grid-template-columns: 45% 45% 10%;
    grid-template-rows: 100%;
}

.primeiro_bloco{
    width: 80%;
    height: 100%;
    padding-left: 20%;

    display: flex;
    flex-direction: column;
    gap: 2rem;

    align-items: flex-start;
    justify-content: center;

    font-family: 'Inria Sans', sans-serif;
    line-height: .6rem;
    color: white;
}

.primeiro_bloco h3 {
    font-weight: 700;
}

.primeiro_bloco p {
    font-weight: 300;
    font-size: 18px;
}

.segundo_bloco{
    width: 100%;
    height: 93%;
    padding-top: 7%;
    
    display: flex;
    flex-direction: column;

    align-items: flex-start;
    justify-content: flex-start;

    font-family: 'Inria Sans', sans-serif;
    line-height: .5rem;
    color: white;
}

.links_casas{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: .5rem;
}


.links_casas a{
    width: 70px;
}

.curiosidades{

    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;

    color: #fff;

    background-color: #1B1A1A;

}

.curiosidades div{
    width: 100%;
    height: 100%;
    margin-bottom: 2rem;

}

.curiosidades div h3{

    font-family: 'Inria Sans', sans-serif;
    font-weight: 700;
    font-size: 18px;
    color: white;


}


.curiosidades div p{

    font-family: 'Inria Sans', sans-serif;
    font-weight: 300;
    opacity: .8;
    font-size: 18px;
    color: white;


}

.curiosidades div span{

    font-family: 'Inria Sans', sans-serif;
    font-weight: 700;
    font-size: 18px;
    color: white;


}

div h3{
    margin-bottom: 8px;
}

div p {
    margin-top: 0px;
    line-height: 1.5rem;
}

.voltar {
    width: 114px;
    height: 40px;

    border-radius: 38px;
    background-color: #FFBD14;
    color: #000;

    font-family: 'Inria Sans', sans-serif;
    font-weight: 700;
    cursor: pointer;
}

.lista_casas{
    /* width: 160px; */
    width: 20%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.imagens{
    width: 70px;
}


.curiosidades div {
    width: 648px;
    height: 351px;
    background-image: url("../imagens/aspas.png");
    background-repeat: no-repeat;
}

.curiosidades h3{
    margin-bottom: 0px;
}